__pycache__/
*.dist-info/
*.egg-info/
*.pyc
bin/
boto3/
botocore/
bs4/
certifi/
charset_normalizer/
dateutil/
idna/
jmespath/
lxml/
requests/
s3transfer/
six.py
soupsieve/
typing_extensions.py
urllib3/
RealmActivityMonitorCDK/cdk.out/
cdk.context.json
